.back-ground {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.board {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 95vmin;
  height: 95vmin;
  max-width: 500px;
  max-height: 500px;
  /* width: 100%;
    height: auto; */
  background-color: lightblue;
  overflow: hidden; /*hides the bulletpoints */
  padding: 2px;
}

.grid {
  position: realtive;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.grid > .item {
  position: absolute;
  padding: 2px;
  /* add a cursor*/
}

.number-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* width:40px;
    height: 40px; */
  padding: 0;
  margin: 1px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 3vw;
  font-family: Open-Sans;
  /* add a cursor*/
  background-color: white;
}

.number-btn:focus {
  outline: none;
  background: #00f; /*not sure abpout this*/
}

.number-btn:focus:active {
  color: inherit;
  background-color: white;
}

.number-btn:disabled {
  color: inherit;
}

.hidden {
  visibility: hidden;
}

.overlay-hidden {
  opacity: 0;
  visibility: hidden;
}
